body {background: #fff;padding:0;margin:0;}
hr {margin-top:1em;margin-bottom: 1em;}
.mainhead {margin-top:60px;}
.maincontent {background: #fff; padding-bottom:5em;}
.mainfoot {min-height: 200px; padding-top:1em;}
.mainfoot, .mainfoot a {color:#bcb9b2;}
.mainfoot a:focus,.mainfoot a:hover {color: #888;}
.mainfoot .partnerbox {color:#ddd;padding-top:1em;padding-bottom:0.8em;margin-top:5em;background:#fff;}
.mainfoot .partnerbox a {color:#ddd;}

a.btn {text-decoration: none;}

.btn-hero {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #45d0c6;
  border: none;
}
.btn-hero:hover {color:#fff;background-color: #49c7be;}

.btn-success {

}
.btn-warning {background:#f1c281;border:0; color:#fff;}
.btn-warning:hover,
.btn-warning:focus {background: #ebba76; border:0; color:#fff;}

.btn-pink {background: #f690af; border:0; color:#fff;}
.btn-pink:hover,
.btn-pink:focus {background: #eb7fa0; border:0; color:#fff;}

.loveyearBtn, .loveyearBtn small { color:#fff;text-decoration:none;background:none;}
.loveyearBtn {border-bottom:1px dotted #fff;}
.loveyearBtn:focus,.loveyearBtn:hover { color:#fff;text-decoration:none;background:none;border-bottom:none;}
 
#newloveyear {background:#fff;color:#333;}
.pagination > li > a,
.pagination > li > span {
 
  color: #7a8c8c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
 
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #7a8c8c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #7a8c8c;
  border-color: #7a8c8c;
}






.logbox {margin-top:3em;}
.sloganbox {margin-top:1em;margin-bottom:3em;}
.sloganbox p {color:#888;line-height: 160%;}

.navbar-fixed-top {background:#fff;border-bottom:1px solid #f9f9f9;}
.navbar-header a {text-decoration: none;}

.iteminfo {font-size:0.9em;color:#bbb;margin-top:0.5em;}
.iteminfo a {font-weight:normal; font-size:1.2em; color:#555; text-decoration: none;}
.iteminfo img {width:1.4em;height:1.4em;margin-top:-0.2em;}


.mainhead-navbox { height:60px;}
.mainhead-navbox .navbar-brand {
  float: left;
  height: 60px;
  padding: 0 0 0 15px;
  font-size: 18px;
  line-height: 55px;
}
.mainhead-navbox .navbar-brand a {font-size:0.8em;}
.mainhead-navbox .navbar-brand .mainhead-avatar {margin:0;margin:0!important; }
.mainhead-navbox .navbar-brand .mainhead-avatar img {width:40px;height:40px;}

.mainhead-nav > li {
  display: inline-block;
}
.mainhead-nav > li + li {
  margin-left: 20px;
}
.mainhead-nav > li > a {
  padding-right: 1.2em;
  padding-left: 1.2em;
  font-size: 1.2em;
  line-height: 50px;
  font-weight: normal;
  color: #999;
  text-decoration: none;
  text-shadow: none;
  border-bottom: 3px solid transparent;
}
.mainhead-nav > li > a:hover, 
.mainhead-nav > li > a:focus,
.mainhead-nav > .active > a,
.mainhead-nav > .active > a:active{
  color: #fff;
  background:#333;
  text-shadow: none;
  border-bottom-color: #21aadd;
  
}

.mainhead-navbtn {
  background: #fff;
}

.mainhead-navbtn:hover,
.mainhead-navbtn:focus {
  background: #f9f9f9;
  background: #f9f9f9!important;
}


.sidebar {background:#f9f9f9;color:#333;padding:20px;}
.sidebar a {color:#333;}




/* extend to qinco.css*/
.max-width-60
{
  max-width:60px;max-width:60px!important;
}
.max-width-50
{
  max-width:50px;max-width:50px!important;
}
/* extend end*/


@media (max-width: 768px) {
  .mainhead-collapse {background: #edf0ef;}
  .mainhead-nav {float: right;}

  .mainhead-nav > li + li {
    margin-left: 1px;
  }
  .mainhead-nav > li > a {
  padding-right: 0.8em;
  padding-left: 0.8em;
  font-size: 1em;
  line-height: 50px;
  font-weight: normal;
  color: #999;
  text-decoration: none;
  text-shadow: none;
  border-bottom: 3px solid transparent;
}

} 

@media (min-width: 768px) {
  .mainhead-brand {float: left;}
  .mainhead-nav {float: right;}
}


@media (min-width: 768px) {

  .container { width: 768px;}
}

@media (min-width: 992px) {
    .container { width: 992px;} 
}


@media (min-width: 1200px) {
    .container { width: 1180px;} 
}


.btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}
.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}
.btn-group > .btn-mini {
  font-size: 10.5px;
}
.btn-group > .btn-small {
  font-size: 11.9px;
}
.btn-group > .btn-large {
  font-size: 17.5px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}
.btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.btn-large .caret {
  margin-top: 6px;
}
.btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.btn-mini .caret,
.btn-small .caret {
  margin-top: 8px;
}
.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

/* 文本截断 */
.cut {
overflow:hidden;
text-overflow:ellipsis;
white-space: nowrap; 
}
 
